<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dorm.mapper.UserMapper">

    <!-- 插入用户：useGeneratedKeys 可以获取自动生成的主键值 -->
    <insert id="insertUser" parameterType="com.dorm.entity.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user (role, id, password)
        VALUES (#{role}, #{id}, #{password})
    </insert>

    <!-- 根据用户名查询用户 -->
    <select id="selectByUsername" parameterType="string" resultType="com.dorm.entity.User">
        SELECT * FROM user WHERE id = #{id}
    </select>

    <update id="updateUser" parameterType="com.dorm.entity.User">
        UPDATE user
        SET
        password = #{password},
        dorm_building = #{dormBuilding},
        room_number = #{roomNumber}
        WHERE id = #{id}
    </update>

</mapper>